<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
Say Hello To Scotty!
<br/>
<br/>
<% 3.times do %>
    Hello again!
    <%= @now %>
    <br/>
<% end %>
<%= link_to "Dig Scotty", scotty_dig_path %>
